@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

/* index.css */
.glow-card {
  transition: all 0.3s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.05); /* subtle default border */
}

.glow-card:hover {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.3); /* blue glow */
  transform: translateY(-2px); /* slight lift effect */
}

.react-calendar-heatmap .color-empty {
  fill: #0f172a;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #1e3a8a;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #2563eb;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #3b82f6;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #60a5fa;
}

.react-calendar-heatmap rect {
  rx: 3;
  ry: 3;
  transition: all 0.2s ease;
}

.react-calendar-heatmap rect:hover {
  stroke: #93c5fd;
  stroke-width: 1px;
  transform: scale(1.05);
}
